.task{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.task .infomations{
    display: flex;
    align-items: center;
}

.task .infomations input{
    margin: 0px;
    font-size: 14px;
    border: none
}
